<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Guru99Bank" parallel="tests" thread-count="2">

  <test name="Chrome Tests">
  	<parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.qa.guru99bank.tests.LoginTest"/>
            <class name="com.qa.guru99bank.tests.NewAccountTest"/>
            <class name="com.qa.guru99bank.tests.NewCustomerTest"/>
            <class name="com.qa.guru99bank.tests.WithdrawalTest"/>
    </classes>
  </test> <!-- Test -->
 
</suite> <!-- Suite -->